---
layout: base
---

<section class="usa-section" style="background-color: #112e51;color:#ffffff">
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-media_block">
        <h1 style="color:#ffffff;">Quality Service Management Offices (QSMOs)</h1>
        <br>
      <center>
        <h4 style="color:#ffffff;">“[Placeholder] In the future, all agencies will receive their services from QSMOs.” – Memo 19-XX</h4>
        <h4 style="color:#ffffff;">QSMOs  offer and manage competitive solutions that drive standardization, integrate solution, and respond to agency business needs. Benefits include: </h4>
      </center>
       </div>
        </div>
        <br>
      <center>
  <div class="usa-grid usa-graphic_list-row">
    <div class="usa-width-one-fourth usa-media_block">
      <img style="width:50px;" src="{{ site.baseurl }}/assets/img/project-icons/check.png">
        <h3 style="color:#ffffff;margin-top:.2em;margin-bottom:0em;">Increase</h3> <p style="margin-top:0em;color:#ffffff;">quality of mission support services</p>
    </div>
  <div class="usa-width-one-fourth usa-media_block">
    <img style="width:50px;" src="{{ site.baseurl }}/assets/img/project-icons/check.png">
      <h3 style="color:#ffffff;margin-top:.2em;margin-bottom:0em;">Enhance</h3> <p style="margin-top:0em;color:#ffffff;">customer service</p>
  </div>
  <div class="usa-width-one-fourth usa-media_block">
    <img style="width:50px;" src="{{ site.baseurl }}/assets/img/project-icons/check.png">
      <h3 style="color:#ffffff;margin-top:.2em;margin-bottom:0em;">Reduce</h3> <p style="margin-top:0em;color:#ffffff;">waste and redundancy</p>
  </div>
  <div class="usa-width-one-fourth usa-media_block">
    <img style="width:50px;" src="{{ site.baseurl }}/assets/img/project-icons/check.png">
      <h3 style="color:#ffffff;margin-top:.2em;margin-bottom:0em;">Optimize </h3> <p style="margin-top:0em;color:#ffffff;">Federal work</p>
  </div>
  </div>
      <br>
        <a class="usa-button usa-button-secondary " href="{{ page.hero-button-link | prepend: site.baseurl }}">{{ page.button-text-1 }}</a>
        <a class="usa-button usa-button-secondary " href="{{ page.hero-button-link | prepend: site.baseurl }}">{{ page.button-text-2 }}</a>
    </div>
  </div>
</center>
</section>

<section class="usa-section" style="background-color: #d6d7d9;">
  <div class="usa-grid">
    <div class="usa-width-one-third border usa-media_block" style="padding: 5px;">
      <h4 style="color:black">What are QSMOs?</h4>
      <div class="arrow"></div>
    </div>
    <div class="usa-width-one-third border usa-media_block" style="padding: 5px;">
      <h4 style="color:black">Who are the QSMOs?</h4>
      <div class="arrow"></div>
    </div>
    <div class="usa-width-one-third border-last usa-media_block" style="padding: 5px;">
      <h4 style="color:black">How do agencies access QSMOs?</h4>
          <div class="arrow"></div>
    </div>
</section>
<section class="usa-section">
  <div class="usa-grid">
    <div class="usa-width-one-third usa-media_block">
      <h3>{{ page.about-text }}</h3>
    </div>
    <div class="usa-width-two-thirds usa-media_block">
      <p>QSMOs, which are located in agencies:</p>
      <ul>
        <li>Offer standardized services that align to agency mission/service area</li>
        <li>Integrate solutions that are interchangeable to allow for customer choice/transition</li>
        <li>Commit to innovation, long-term investment, and service </li>
      </ul>
    </div>
</section>
