<section class="usa-grid usa-section" style="background-color: #FFFFFF;">
<div class="usa-grid usa-graphic_list-row">
  <a href="{{ site.baseurl }}/GEARcenter/stakeholders/" style="text-decoration:none;color:#ffffff;;float:right;font-size:2rem">
  <b>Summary of RFI Responses &nbsp;&#10095;</b></a>
<div class="usa-width-one-whole usa-media_block">
<center><div class="usa-media_block-body">
<img src="gear_logo_full.png" width="40%;">
<br>
<br>
</div>
</center>
<center>
  <br>
          <div class="usa-grid usa-graphic_list-row">

          <div class="usa-media_block-body">
            <div class="usa-width-one-fourth usa-media_block">
            <img src="../GEARcenter/reimagine.png">

            <h3 style="color:#9bdaf1;margin-top:.2em;margin-bottom:0em;">Reimagine</h3> <p style="margin-top:0em;">The possibilities for how citizens interact with Government</p>
            </div>
          <div class="usa-width-one-fourth usa-media_block">
            <img src="../GEARcenter/rethink.png">
          <h3 style="color:#9bdaf1;margin-top:.2em;margin-bottom:0em;">Rethink</h3> <p style="margin-top:0em;">How Government delivers citizen services and data</p>
          </div>
        <div class="usa-width-one-fourth usa-media_block">
          <img src="../GEARcenter/reform.png">
        <h3 style="color:#9bdaf1;margin-top:.2em;margin-bottom:0em;">Reform</h3> <p style="margin-top:0em;">Core processes of federal agencies from IT to finances to procurement</p>
        </div>
        <div class="usa-width-one-fourth usa-media_block">
          <img src="../GEARcenter/explore.png">
        <h3 style="color:#9bdaf1;margin-top:.2em;margin-bottom:0em;">Explore</h3> <p style="margin-top:0em;">Creative ways to develop, reskill, and redeploy the public-sector workforce</p>

        </div>
      </div>
      <br>
<div class="usa-width-one-whole usa-media_block">
<div class="usa-media_block-body">
<!--<p>The Federal Government intends to establish a Government Effectiveness Advanced Research (GEAR) Center through a public-private partnership to improve mission delivery, citizen services, and stewardship of public resources.</p>

<p>Through applied research and live pilot testing, the GEAR Center would connect cutting-edge thinking with real-world challenges the Federal Government faces in serving Americans in the Digital Age, specifically:</p>
<ul>
 <li>re-imagining possibilities for how citizens interact with the Government;</li>

<li>rethinking the delivery of citizen services and data; reforming core processes (e.g., procurement, budget, IT investment and capital allocation); and </li>
<li> exploring how the public-sector workforce can be developed, reskilled and redeployed in creative ways.</li>
</ul>-->
<p style="padding-top:10px;">We are looking for ideas from the public, academics, experts, and industry on how to establish the Government Effectiveness Advanced Research (GEAR) Center, a public-private partnership to improve mission delivery, citizen services, and stewardship of public resources.</p> <!--the accomplish this goal, to learn from models that already exist, and to identify institutions interested in partnering with each other and with the Federal Government to establish the GEAR Center. Request for Information (RFI) Submissions are due on September 14, 2018 through email to performance@omb.eop.gov. </p>-->

</div>
</div>
</div>
</div>
</center>
</section>
